package ${basePackageName}.application.application.${moduleName}.${allLowName}.handler;

import ${basePackageName}.application.common.event.EventHandler;
import ${basePackageName}.application.common.event.EventHandlerI;
import ${basePackageName}.coreclient.dto.common.response.Response;
import ${basePackageName}.coreclient.dto.${moduleName}.${allLowName}.event.${className}CreateEvent;
import lombok.extern.slf4j.Slf4j;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@EventHandler
public class ${className}CreateEventHandler implements EventHandlerI<Response, ${className}CreateEvent> {

    public Response execute(${className}CreateEvent event) {
        log.debug("Handling Event:{}",event);
        return Response.success();
    }
}
