package ${basePackageName}.coreclient.api.${moduleName};

import ${basePackageName}.coreclient.dto.common.response.MultiResponse;
import ${basePackageName}.coreclient.dto.common.response.PageResponse;
import ${basePackageName}.coreclient.dto.common.response.Response;
import ${basePackageName}.coreclient.dto.common.response.SingleResponse;
import ${basePackageName}.coreclient.dto.${moduleName}.${allLowName}.*;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}AppService {
    Response add(${className}AddCmd cmd);
    Response update(${className}UpdateCmd cmd);
    Response delete(${className}DeleteCmd userDeleteCmd);
    SingleResponse<${className}DTO> getById(${className}GetQry qry);
    MultiResponse<${className}DTO> list(${className}ListQry qry);
    PageResponse<${className}DTO> page(${className}PageQry userPageQry);
}
